[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=2.0.0"
torchvision = ">=0.15.0"
lightning = ">=2.0.0"
torchmetrics = ">=0.11.4"
hydra-core = "==1.3.2"
hydra-colorlog = "==1.2.0"
hydra-optuna-sweeper = "==1.2.0"
rootutils = "*"
pre-commit = "*"
rich = "*"
pytest = "*"
phonemizer = "*"
tensorboard = "*"
librosa = "*"
cython = "*"
numpy = "*"
einops = "*"
inflect = "*"
unidecode = "*"
scipy = "*"
torchaudio = "*"
matplotlib = "*"
pandas = "*"
conformer = "==0.3.2"
diffusers = "==0.21.3"
notebook = "*"
ipywidgets = "*"
gradio = "*"
gdown = "*"
wget = "*"
seaborn = "*"
beartype = "*"
ukrainian-word-stress = "*"
text2phonemesequence = "*"
num2words = {git = "git+https://github.com/patriotyk/num2words.git#egg=num2words"}
ipa-uk = {ref = "v2.0", git = "git+https://github.com/skypro1111/ipa-uk.git"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
